/*This file contains all necessary css-classes for the Login/Signin-applications*/

.login-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#login-btn {
  margin: 0.5em;
}
